<div class="row">
  <h1>Add Failure Event</h1>
  <hr />

  <%= simple_form_for(
    [
      @presenter.encounter,
      @presenter.event,
      @presenter.option,
      @presenter.failure_event
    ],
    url: encounter_event_option_failure_events_path) do |f| %>
    <%= f.input :description, as: :text, input_html: { rows: 5 } %>

    <%= field_set_tag "Role Responses" do %>
      <p>
        The reactions each role has to the encounter description. This could
        be as detailed or as minimal as necessary, but a paragraph max. Not
        every role needs to have anything to say. If nothing is filled in for
        a role, the book will print some default. But the more roles have
        something to say, the better.
      </p>
      <%= f.simple_fields_for :responses, @presenter.responses do |responses_form| %>
        <%= responses_form.input :role_id, as: :hidden %>
        <%= responses_form.association :role, disabled: true %>
        <%= responses_form.input :text, as: :text, label: "Response", input_html: { rows: 3 } %>
      <% end %>
    <% end %>

    <div class="pull-right">
      <%= link_to "Cancel",
        encounter_path(@presenter.encounter),
        class: "btn btn-default" %>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  <% end %>
</div>
