<%= simple_form_for [ @presenter.encounter, @presenter.event, @presenter.option ] do |f| %>
  <%= f.input :text  %>
  <%= f.input :order %>

  <%= field_set_tag "Skill Check" do %>
    <%= f.simple_fields_for :skill_check, @presenter.skill_check do |form| %>
      <%= form.association :role %>
      <%= form.input :difficulty, collection: %w(3 5 7) %>
      <%= form.input :description %>
    <% end %>
  <% end %>

  <div class="pull-right">
    <%= link_to "Cancel",
      encounter_path(@presenter.encounter),
      class: "btn btn-default" %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
