<li>
  <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" data-title="<%= option.text.truncate_words(20) %>">
    <div class="encounter__tree_node">
      <h4>
        <%= link_to "Option", edit_encounter_event_option_path(option.event, option.event.encounter, option) %>
      </h4>
      <div class="btn-group">
        <% unless option.success_event %>
          <%= link_to "+",
            new_encounter_event_option_success_event_path(option.event.encounter, option.event, option),
            class: "btn btn-success encounter__node-action" %>
        <% else %>
          <button class="btn btn-success encounter__node-action" disabled>+</button>
        <% end %>

        <% unless option.failure_event %>
          <%= link_to "+",
            new_encounter_event_option_failure_event_path(option.event.encounter, option.event, option),
            class: "btn btn-danger encounter__node-action" %>
        <% else %>
          <button class="btn btn-danger encounter__node-action" disabled>+</button>
        <% end %>
      </div>
    </div>
  </div>

  <ul>
    <%= render partial: "events/event",
      locals: {
      event: option.success_event,
      title_class: "encounter__success-event-title",
      container_class: "encounter__success-event"
    } if option.success_event %>
    <%= render partial: "events/event",
      locals: {
      event: option.failure_event,
      title_class: "encounter__failure-event-title",
      container_class: "encounter__failure-event"
    } if option.failure_event %>
  </ul>
</li>
