<li class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= link_to "Event", edit_encounter_event_path(event, event.encounter) %>
      </h3>
    </div>
    <div class="panel-body">
      <%= event.description %>
    </div>
    <div class="panel-footer">
      <div class="btn-group">
        <%= link_to "Add Option", new_encounter_event_option_path(event.encounter, event), class: "btn btn-success" %>
        <%= link_to "Edit Event", edit_encounter_event_path(event.encounter, event), class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <div class="row">
    <ul>
      <%= render event.options %>
    </ul>
  </div>
</li>
