<%= simple_form_for [@presenter.encounter, @presenter.event] do |f| %>
  <%= f.input :description, as: :text, input_html: { rows: 5 } %>
  <%= f.association :next_encounter,
    collection: @presenter.next_encounters,
    label: "Next Encounter",
    hint: "The encounter this event leads to within a multi-encounter arc. Will reveal the encounter on the sector map." %>

  <%= field_set_tag "Role Responses" do %>
    <p>
      The reactions each role has to the encounter description. This should be
      no more than a couple of sentences. Not every role needs to have anything
      to say, so be sure it makes narrative sense why a role would have input.
    </p>
    <%= f.simple_fields_for :responses, @presenter.responses do |responses_form| %>
      <%= responses_form.input :role_id, as: :hidden %>
      <%= responses_form.association :role, disabled: true %>
      <%= responses_form.input :text, as: :text, label: "Response", input_html: { rows: 3 } %>
    <% end %>
  <% end %>

  <%= field_set_tag "Team Effects" do %>
    <p>
      The effects of an event on your crew and/or ship. Any event can have ship
      effects, not just the last event within a chain. You don't have to have
      ship effects on the last event within a chain. Since it only goes from -3
      to 3, those extremes should be used very rarely.
    </p>
    <%= f.simple_fields_for :event_results, @presenter.event_results do |event_results_form| %>
      <%= event_results_form.input :ship_effect_id, as: :hidden %>
      <%= event_results_form.association :ship_effect, disabled: true %>
      <%= event_results_form.input :amount, input_html: { max: 3, min: -3 } %>
    <% end %>
  <% end %>

  <%= field_set_tag "Rewards" do %>
    <p>
      The item and/or ship module gained as a result of this event, along with
      an optional role required to receive that reward. You can have rewards
      on any event within an encounter.
    </p>

    <%= f.association :item_role_requirement, label: "Role for Item" %>
    <%= f.association :item %>
    <%= f.association :ship_module_role_requirement, label: "Role for Module" %>
    <%= f.association :ship_module %>
  <% end %>

  <div class="pull-right">
    <%= link_to "Cancel",
      encounter_path(@presenter.encounter),
      class: "btn btn-default" %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
