<%= simple_form_for [@presenter.encounter, @presenter.event] do |f| %>
  <%= f.input :description, as: :text, input_html: { rows: 5 } %>

  <%= field_set_tag "Role Responses" do %>
    <p>
      The reactions each role has to the encounter description. This should be
      no more than a couple of sentences. Not every role needs to have anything
      to say, so be sure it makes narrative sense why a role would have input.
    </p>
    <%= f.simple_fields_for :responses, @presenter.responses do |responses_form| %>
      <%= responses_form.input :role_id, as: :hidden %>
      <%= responses_form.association :role, disabled: true %>
      <%= responses_form.input :text, as: :text, label: "Response", input_html: { rows: 3 } %>
    <% end %>
  <% end %>

  <%= field_set_tag "Team Effects" do %>
    <p>
      The effects of an event on your crew and/or ship. Any event can have ship
      effects, not just the last event within a chain. You don't have to have
      ship effects on the last event within a chain. Since it only goes from -3
      to 3, those extremes should be used very rarely.
    </p>
    <%= f.simple_fields_for :event_results, @presenter.event_results do |event_results_form| %>
      <%= event_results_form.simple_fields_for :ship_effect_result do |form| %>
        <%= form.input :ship_effect_id, as: :hidden %>
        <%= form.association :ship_effect, disabled: true %>
        <%= form.input :amount, collection: [-3,-2,-1,1,2,3] %>
      <% end %>
    <% end %>
  <% end %>

  <div class="pull-right">
    <%= link_to "Cancel",
      encounter_path(@presenter.encounter),
      class: "btn btn-default" %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
